/* coLearners Section */

.colearners {
	padding-top: 5.6875rem; 
	width: 100%;
	background: $lightgrey;
}

.colearners-heading {
	@extend %centered;
	font-weight: $medium;	
}

.colearners-list {	
	@extend %centered;
	margin: 5.625rem 5.25rem 0;
	padding: 0;
	list-style: none;
}

.colearners-item {
	display: inline-block;
	margin-right: 2.625rem;
	
	@include max-down(663px) { 
		margin-right: 0;
	}
	
}

//Fix transitioning from 4 columns
.colearners-item:nth-child(4n + 4){
	margin-right: 0;
	
	@include min-max(622px, 1215px) {
		margin-right: 2.625rem;
	}
}

//Fix transitioning to 3 columns
.colearners-item:nth-child(3n + 3) {
	
	@include min-max(977px, 1207px) {
		margin-right: 0;
	}
	
}

//Fix transitioning to 2 columns
.colearners-item:nth-child(even) {
	@include min-max(622px, 977px) {
		margin-right: 0;
	}
}

.colearners-photo {
	border-radius: 50%;
}

.social-list {
	text-align: center;
	padding-bottom: 4.375rem;
	padding-left: 0;
	list-style: none;
}

.social-list-item {
	display: inline-block;
}

.social-list-link {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	height: 1.35rem;
	width: 1.35rem;
	background-image: url("../../img/slice.png");
	background-repeat: no-repeat;
}

.facebook {
	background-position: -33px 0;
}

.dribble {
	background-position: -70px 0;
}

.linkedin {
	background-position: -104px 0;
}
