/* Course Goals Section */

.goals {
	display: inline-block;
	width: 100%;
	padding-bottom: 9.6875rem;
}

.goals-header {
	text-align: center;
	margin-bottom: 4.3125rem;
	font-size: 1.75rem;
	color: $darkgrey;
	text-transform: uppercase;
	font-weight: $medium;
}

.goals-list {
	display: block;
	margin-left: 3.4375rem;
	margin-right: 3.4375rem;
	
	@include max-down(768px) {
		padding-left: 0;
	}
}

.goals-list-item {
	float: left;
	vertical-align: top;
	display: inline-block;
	width: 33%;
	padding-right: 3.3125rem;
	list-style: none;
	font-weight: $bold;
	
	@include max-down(768px) {
		width: 100%;
		padding-right: 0;
	}
}

.goals-list-item:nth-child(3n+1) {
	clear: left;
}

.goals-list:nth-child(1),
.goals-list:nth-child(2),
.goals-list:nth-child(3) {
	margin-bottom: 6.3125rem;
}

.goals-list:nth-child(3),
.goals-list:nth-child(6) {
	margin-right: 0;
}


.goals-list-item:last-child{
	margin-right: 0;
}

.goals-heading {
	font-size: 1rem;
	
	@include max-down(768px) { 
		text-align: center;
	}
}

.goals-text {
	color: $darkgrey;
	
	@include max-down(768px) { 
		width: 100%;
		text-align: center;
	}
}
