/* Header Styles */

//Backgruond image 
.background-wrapper{
	height: 40rem;
	color: $white;
	background-image: url("../../img/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
 	background-attachment: fixed;
	
	@include max-down(768px) {
		height: 45rem;
		background-attachment: scroll;
	}
}


.logo,
.main-nav,
.nav-item
 {
	display: inline-block;
}

.logo {
	width: 9.8125rem;
	height: 6.25rem;
	margin-top: 1.125rem;
	margin-left: 2.125rem;
	
	@include max-down(768px) {
		text-align: center;
		margin-top: .75rem;
		margin-left: 1.25rem;
		width: 4.5rem;
		height: 3rem;
	}
	
	img {
		
		@include max-down(768px) {
			width: 100%;
			height: 100%;
		}
		
	}
}

//Navigation
.main-nav {
	float: right;
	margin-top: 2.1875rem;
	margin-right: 2.1875rem;
	
	@include max-down(768px) {
		@include clearfix;
		float: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		position: fixed;
		display: block;
		margin: 0 auto;
		opacity: 0;
		
		.nav-shown & {
			z-index: 999;
		    opacity: 1;
		    background-color: rgba(0,0,0,0.85);
		    transition: all 0.25s ease-out;
		}
	}
}

.nav-list {
	@include max-down(768px) {
		margin: 0 auto;
		padding: 0;
	}
}

.nav-item {
	padding-left: 1.75rem;
	list-style: none;
	transition: background-color .5s;
	
	@include max-down(768px) {
		text-align: center;
		display: block;
		margin: 0;
		padding: 2rem 4rem;
	    border-bottom: .5px solid #FFF;
	}
}

.nav-item-link {
	width: 100%;
	height: 100%;
	font-size: 1.125rem;
	text-decoration: none;
	color: $white;
	font-weight: $medium;
	transition: color .5s;
}

.nav-item:hover {
	@include max-down(768px) {
		background-color: #FFF;
		
		.nav-item-link {
			color: black;	
		}
	}
	
}

//Responsive Nav Button
.menu-btn {
	
	display: none;
	
	@include max-down(768px) {
		position: absolute;
		top: 0.75rem;
		right: 1.25rem;
		z-index: 9999;
		display: inline-block; 
		margin: 0;
		padding: 0;
		width: 41px;
		height: 36px;
		border: none;
		background: none;
		outline: none;
		cursor: pointer;
		
		span {
			@include hide-text;
			position: relative;
			top: 0;
			margin: 0 auto;
			width: 30px;
			height: 3px;
			overflow: hidden;
			opacity: 1;
			background: #FFF;
			transition: all 0.1s ease-out;
		
			.nav-shown & {
				opacity: 0;
				transform: scale(0);
			}
		}
		
		&::before, &::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 30px;
			height: 3px;
			background: #FFF;
			transition: all 0.1s ease-out;
		}
	
		&::before {
			top: 8px;
	
			.nav-shown & {
				top: 18px;
				transform: rotate(135deg);
			}
		}
	
		&::after {
			bottom: 7px;
	
			.nav-shown & {
				bottom: 15px;
				transform: rotate(-135deg);
			}
		}
	}
}

.main-hero {
	@extend %centered;
	height: 20rem;
}

.main-hero-heading,
.main-hero-date {
	@include vertical-align($val: 47%);
	margin: 0;
	
	@include max-down(768px) {
		@include vertical-align(60%);
	}
}

.main-hero-heading {
	font-size: 5.75rem;
	font-weight: $thin;
}

.main-hero-date {
	font-size: 1.5rem;
	font-weight: $light;
	
}

.main-hero-date::after {
	content:"</>";
	display: block;
}