/* Testimonial Section */

.testimonial {
	@extend %centered;
	height: 39.125rem;
	
	@include max-down(768px) { 
		height: 42rem;
	}
}

.testimonial-quote {
	display: inline-block;
	max-width: 56.4375rem;
	margin-top: 10.625rem;
	margin-bottom: 0;
	font-size: 3rem;
	font-weight: $light;
	color: $redish;
	
	@include max-down(768px) { 
		max-width: 90%;
		font-size: 2rem;
	}
	
	@include min-max(769px, 900px) {
		max-width: 85%;
	}
}

.testimonial-person {
	margin-top: 4.4375rem;
	font-size: 1.375rem;
	font-weight: $medium;
	color: $lightestgrey;
}

.testimonial-info, 
.testimonial-course {
	margin-bottom: 6.9375;
	font-size: 1rem;
	font-weight: $medium;
	color: $lightestgrey;
}
