/* Colors */
$white: #FFFFFF;
$lightestgrey: #AAAAAA;
$lightgrey: #f9f9f9;
$grey: #C3BFBF;
$darkgrey: #777777;
$redish: #E66244;

/* Fonts */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/* Media Query */
$nav-switch: 768px;